.submenu {
    background: #005FA4;
}

.tipoazul {
    color: white;
    background: #005FA4;
}

.btn-primary {
    background: #0b71b0;
}

.colorlinha {
    background: #FFCC00;
}

.tipocinza {
    background: #e1e1e1;
}

.bordasuperior {
    border-top: solid 2px #FFCC00;
}

.font-sizeIcone {
    font-size: 25px;
}

.font-sizeBotao {
    font-size: 25px;
}

.font-sizeBotao:hover {
    color: #0b71b0;
}

.botaoSegundaPagina {
    margin: 10px;
}

.botaoSegundaPagina:hover {
    background: #e1e1e1;
}

.titulo {
    color: #e1e1e1;
    color: #494444;
    background: #f9f9f1;
}

.div.subTitulo {
    background: #494444;
    color: #e1e1e1;
    width: 40px;
}

.topicos {
    color: white;
    background: #005fa4;
    border-bottom: solid 2px #FFCC00;
    cursor: pointer;
}

.topicos a {
    text-decoration: none;
    color: white;
}

.breadcrumb {
    background: #f6f6f1;
}

.backgroudImagem {
    background: url("../image/fundo.jpg") no-repeat;
    background-size: 100% 115%;
    height: 100%;
}

.botaoInicial {
    background: #005fa4;
    color: white;
    padding: 35px;
    margin: 10px;
    font-size: 20px;
}

.topicos span {
    text-decoration: none;
    color: white;
}

.metodologia div {
    margin: 45px;
   
}
.selecao {
    margin-left: none; 
}
.selecionado{
    background:#4682B4!important;
}
.removerLinha{
    text-decoration: none;
}
