.submenu {
    background: #005FA4;
    
}
.menu_fixo {
    position: fixed;
    width: 100%;
    z-index: 999;
}
.tipoazul {
    color: white;
    background: #005FA4;
}

.btn-primary {
    background: #0b71b0;
}

.colorlinha {
    background: #FFCC00;
    
}

.bordasuperior {
    border-top: solid 2px #FFCC00;
  
}

.font-sizeIcone {
    font-size: 25px;
}

.font-sizeBotao {
    font-size: 25px;
}

.font-sizeBotao:hover {
    color: #005FA4;
    padding-right: 10px;
}

.botaoSegundaPagina {
    margin: 10px;
    color: #e9ecef;
   
}

.botaoSegundaPagina:hover {
    background: #e1e1e1;
    
}
.topicos {
    color:white;
    background: #005fa4;
    border-bottom: solid 2px #FFCC00;
    cursor: pointer;
}

.topicos a {
    text-decoration: none;
    color: white;
}

.backgroudImagem {
    background: url("../image/fundo.jpg") no-repeat;
    background-size: 100% 115%;
    height: 100%;
}

.botaoInicial {
    background: #005fa4;
    color: white;
    padding: 35px;
    margin: 10px;
    font-size: 20px;
}

.topicos span {
    text-decoration: none;
    color: white;
}

.selecao {
    margin-left: none;
}

.selecionado {
    background: #4682B4!important;
}

.removerLinha {
    text-decoration: none;
}

.textoIndex {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    font-size: 20px;
}

.textoMetodologia {
    font-size: 18px;
    font-family: arial;
    word-spacing: 1px;
    white-space: pre-wrap;
    white-space: pre-line;
}

.tituloMetodologia {
    font-size: 22px;
    font-family: arial;
    text-align: left;
}